body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .tabs {
            display: flex;
            border-bottom: 2px solid #ccc;
        }
        .tabs button {
            background-color: #f1f1f1;
            border: none;
            padding: 14px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 16px;
        }
        .tabs button:hover {
            background-color: #ddd;
        }
        .tabs button.active {
            background-color: #ccc;
            border-bottom: 2px solid #000;
        }
        .tab-content {
            display: none;
            padding: 20px;
            border: 1px solid #ccc;
        }
        .tab-content.active {
            display: block;
        }

        .grid {
            display: flex; /* This will enable the flexbox layout */
            flex-wrap: wrap; /* Ensures that items will wrap to the next line if there's not enough space */
            justify-content: space-between; /* Add spacing between the charts */
        }

        .col {
            flex: 1;
            padding: 10px;
            min-width: 200px; /* Adjust this as necessary */
        }

        .row {
            display: flex;
            width: 100%;
        }

        .google-visualization-table-td {
        text-align: center !important;
        }